
<script>

  function phrange(e){
    const output  = document.getElementById("phoutput");
    output.textContent = e.value;
    let phclass = "ph-"+e.value;

    for (var i=0, l=e.classList.length; i<l; ++i) {
     const regex = new RegExp('ph-*');
     var regexmatch = regex.exec(e.classList[i])
      if(regexmatch !== null) {
        e.classList.remove(regexmatch.input)
       // output.classList.remove(regexmatch.input)
        break;
      }
    }
    //output.classList.add(phclass)
    e.classList.add(phclass)
  }

  function toggleSwitch(e){
    var form = document.getElementById("surveyform");
    var fields = form.getElementsByClassName("need-kit")
    if (e.checked == true){
      Array.from(fields).forEach(function(field) {
        field.closest(".field").classList.remove('is-hidden')
      });
    } else {
      Array.from(fields).forEach(function(field) {
        field.closest(".field").classList.add('is-hidden')
      });
    }
  }


   // Function to update the progress bars and labels
  function updateProgress() {
    var progressBar1 = document.getElementById("progress-bar");
    var progressBar2 = document.getElementById("progress-bar2");
    var progressLabel1 = document.getElementById("progress-label");
    var progressLabel2 = document.getElementById("progress-label2");
    var form = document.getElementById("surveyform");

    var fields = form.getElementsByClassName("field step");
    var totalInputs  = fields.length;
    progressBar1.max = totalInputs;
    progressBar2.max = totalInputs;

    var count = 0;
    Array.from(fields).forEach(function(field){
      let fieldinputs = field.getElementsByClassName("step");
      let hasValue = false;
      Array.from(fieldinputs).forEach(function(input) {
        if (!hasValue){
          if (input.type == "checkbox" || input.type == "radio" ){
            if (input.checked){
              count++;
              hasValue = true;
            }
          }else if(input.value !== ""){
            count++;
            hasValue = true;
          }
        } 
      });
    });

    progressBar1.value =  count;
    var label = count  + "/" + totalInputs + " Completed";
    progressLabel1.textContent = label;

    progressBar2.value =  count;
    progressLabel2.textContent = label;
  }

  function deletemacro(e){
    if (window.confirm("Are you sure?")) {
      var hiddenField = e.nextElementSibling;
      hiddenField.value =  "1";
      var parent = e.parentNode;
      e.parentNode.classList.add("is-hidden");
    }
  }

  window.addEventListener('pageshow',  imageSetup);
  document.addEventListener('turbo:load', imageSetup);

  function imageSetup(){
    const fileInput = document.querySelector('#survey_images');
    if (fileInput){
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          var fileNames = [];
          for (var i = 0; i < fileInput.files.length; i++) {
            fileNames.push(fileInput.files[i].name);
          }
          const fileNameLabel = document.querySelector('.file .file-name');
          fileNameLabel.innerHTML = fileNames.join(" <br />  ");
        }
      }
    }
  }

  window.addEventListener('pageshow',  fieldListener);
  document.addEventListener('turbo:load', fieldListener);
  var hasListener = false;
  function fieldListener(){
    // Call the updateProgress function whenever an input or textarea value changes
    var form = document.getElementById("surveyform");
    if (form != undefined){
      var formInputs = form.querySelectorAll("input, textarea");
      formInputs.forEach(function(input) {
        input.addEventListener("input", function() {
          updateProgress();
        });
      });

      var formSelects = form.querySelectorAll("select");
      formSelects.forEach(function(select) {
        select.addEventListener("change", function(){
          updateProgress();
        });
      });

      updateProgress(); // for progress bar
    }
 
    <% if survey.subtype == "biological" %>
      var addInputButton = document.getElementById("addmacrobutton");
      
      if (addInputButton != undefined ){

      
        var inputItemsContainer = document.querySelector(".macro-fields");
        <% if survey.new_record? %>
          var macroIndex = 1; //start at 0
        <% else %>
          var macroIndex = <%= survey.macroinvertebrates.count %>;
        <% end  %>
  
        if (!hasListener){
      
          addInputButton.addEventListener("click", function() {
          
          var newfields = document.createElement("div");
          newfields.classList.add("field")
          newfields.classList.add("is-grouped")
          newfields.classList.add("is-horizontal")

          newfields.innerHTML = `
            <input type="text" list="species" id="survey_macroinvertebrates_attributes_${macroIndex}_name" name="survey[macroinvertebrates_attributes][${macroIndex}][name]" class="input mr-2" style="min-width: 150px;" placeholder="e.g. insect name">
            <input type="number" id="survey_macroinvertebrates_attributes_${macroIndex}_observed" name="survey[macroinvertebrates_attributes][${macroIndex}][observed]" class="input" style="width:5em;" placeholder="count">`+
            <%# if survey.new_record? %>
            `<div class="file "><label class="file-label">
            <input multiple="multiple" class="file-input" accept="image/*" type="file" name="survey[macroinvertebrates_attributes][${macroIndex}][animal_images][]" id="survey_macroinvertebrates_attributes_${macroIndex}_animal_images">
            <span class="file-cta"><span class="file-icon"><i class="fas fa-upload"></i></span><span class="file-label">Images</span></span></label></div>`+
            <%# end %>
            `<a class="button delete-macro" title="Delete" onclick="deletemacro(this);"><span class="icon is-small"><i class="fas fa-trash-alt"></i></span></a>
            <input type="hidden" id="survey_macroinvertebrates_attributes_${macroIndex}__destroy" name="survey[macroinvertebrates_attributes][${macroIndex}][_destroy]" >
          `;

          inputItemsContainer.appendChild(newfields);
          macroIndex++;
    
          }); 
      }
      hasListener = true;
      }
    <% end %>
  }


</script>

<% if survey.errors.any? %>
  <div class="message is-danger" data-turbo-cache="false">
    <div class="message-header">
      <p> 
        <%= I18n.t("errors.messages.not_saved",
                   count: survey.errors.count,
                   resource: survey.class.model_name.human.downcase)
         %></p>
    </div>
    <div class="message-body">
      <% survey.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  </div>
<% end %>

<div class="field">
  <label id="progress-label" for="progress-bar"></label>
  <progress id="progress-bar" class="progress is-info" value="2" max="10"></progress>
</div>


  <%= form_with id: "surveyform", multipart: true, data: {turbo: false}, model: survey do | form | %>

    <!-- COMMON FIELDS--->

    <%= form.hidden_field :subtype %>

    <div class="field step">
      <%= form.label(:surveyed_at,  class: "label")%>
      <p class="help">When was this taken? (defaults to now)</p>
      <div class="control">
        <%= form.datetime_field :surveyed_at, class:"input step" %>
      </div>
    </div>

    <%= form.hidden_field :river %>
  
    <% coords = []
    if survey.lonlat && survey.lonlat.coordinates
    coords = survey.lonlat.coordinates.to_a.reverse
    end %>

    <div class="field step" data-controller="formmap" data-formmap-icon-value="<%= image_path("images/marker-icon.png") %>" data-formmap-newrecord-value=<%= survey.new_record? %> data-formmap-coords-value="<%= coords %>" >
      <%= form.label(:lonlat,  "Survey Location", class: "label")%> 

      <div class="tabs is-small is-toggle is-toggle-rounded placebuttons">
        <ul>
          <li id="auto-tab" class="is-active" data-action="click->formmap#toggleGeoloc" data-formmap-tabid-param="auto-tab"  ><a>Automatic</a></li>
          <li id="man-tab" class="" data-action="click->formmap#toggleGeoloc" data-formmap-tabid-param="man-tab" > <a>Click on map</a> </li>
        </ul>
      </div>
      
      <%= form.hidden_field :lonlat, class: "step" %>
      <div id="formmap"></div>
   
    </div>


    <hr> 
   
    <% if  @survey.subtype == "chemical" %> 

      <!-- CHEMICAL --->

      <div class="field">
        <input id="kitswitch" type="checkbox" name="kitswitch" class="switch is-rounded" onchange="toggleSwitch(this);" autocomplete="off">
        <label for="kitswitch">I have a kit</label>
      </div>


      <div class="field is-hidden step">
        <%= form.label(:ph, "Water acidity", class: "label")%>
        <p class="help">pH level</p>
        <div class="control">
          <%= form.range_field :ph, class:"input step need-kit slider is-fullwidth mb-1 mt-1", step:1, min:0, max:14, oninput: "phrange(this);" %>
          pH: <span id="phoutput"></span>
        </div>
      </div>

      <div class="field is-grouped is-grouped-multiline ">



      <div class="field step ">
        <%= form.label(:temperature, "Water temperature", class: "label")%>
        <p class="help">units: Centrigade (C) </p>
        <div class="control">
          <%= form.number_field :temperature, class:"input step" %>
        </div>
      </div>

      <div class="field is-hidden step">
        <%= form.label(:conductivity, class: "label")%>
        <p class="help">units: µS (microsiemens)</p>
        <div class="control">
          <%= form.number_field :conductivity, class:"input step  need-kit" %>
        </div>
      </div>

      <div class="field is-hidden step">
        <%= form.label(:nitrogen, "Nitrate", class: "label")%>
        <p class="help">units: mg/L </p>
        <div class="control">
          <%= form.number_field :nitrogen, class:"input step  need-kit" %>
        </div>
      </div>

      <div class="field is-hidden step">
        <%= form.label(:phosphorus, "Phosphate", class: "label")%>
        <p class="help">units: mg/L </p>
        <div class="control">
          <%= form.number_field :phosphorus, class:"input step  need-kit" %>
        </div>
      </div>
      </div>

    
    <% elsif  survey.subtype == "physical" %> 
      <!-- PHYSICAL --->

      <div class="field step">
        <%= form.label(:width, "River width (m)", class: "label")%>
        <p class="help"> What is the average width of the river? (Estimate in meters)</p>
        <div class="control">
          <%= form.number_field :width, class:"input step", style: "width:10em;"  %>
        </div>
        
      </div>

      <div class="field step">
        <%= form.label(:depth, "River depth (m)", class: "label")%>
        <p class="help"> What is the average depth of the river? (Estimate in meters)</p>
        <div class="control">
          <%= form.number_field :depth, class:"input step",  style: "width:10em;" %>
        </div>
      </div>

      <div class="field ">
        <%= form.label("has it been raining", "Has it been raining?", class: "label")%>
        <p class="help">Has it been raining the day of or the day before sampling?</p>
        <div class="control">
          <%= form.label(:raining, "No") %>
          <%= form.check_box :raining, class: "switch " %>
          <%= form.label(:raining, "Yes") %>
        </div>
      </div>

    
      <fieldset class="field step">
        <%= form.label(:water_use, "Water use", class: "label")%>
        <p class="help">Can you see evidence of water use?</p>
        <% [['Fishing','fishing'],['Boats','boats'], [ 'Abstraction for irrigation','irrigation'], ['Domestic purposes','domestic'],['Other (please specify)', 'other'] ].each do | w | %>
          <%= form.check_box :water_use, { multiple: true, class: "step checkbox is-multiple" }, w[1], nil %> <%= form.label "water_use_#{w[1]}", w[0] %> <br />
        <% end %>
        <p class="help">Other water use</p>
        <%= form.text_field :water_use_other, class:" input" %>
      </fieldset>

      <fieldset class="field step">
        <%= form.label(:structures, "Manmade Structures", class: "label")%>
        <p class="help">Which man-made structures can you see in the river or along its banks within close proximity of the sampling site.</p>
        <% [['Modified river bank', 'modified_river_bank'], ['Weirs', 'weirs'], ['Dams', 'dams'], ['Bypass Channels', 'bypass_channels'], ['Wells', 'wells'], ['Litter', 'litter'], ['Artificial Inflow', 'artificial_inflow']].each do | w | %>
          <%= form.check_box :structures, { multiple: true, class: "checkbox is-multiple step" }, w[1], nil %> <%= form.label "structures_#{w[1]}", w[0] %> <br />
        <% end %>
        <p class="help">Other structures</p>
        <%= form.text_field :structures_other, class:" input" %>
      </fieldset>

      <fieldset class="field step">
        <%= form.label(:surface, "On the surface", class: "label")%>
        <p class="help"> Is there any of the following on the water surface? </p>
        <% [['Foam','foam'],['Litter','litter'],['Oily sheen','oily_sheen']].each do | w | %>
          <%= form.check_box :surface, { multiple: true, class: "checkbox is-multiple step" }, w[1], nil %> <%= form.label "surface_#{w[1]}", w[0] %> <br />
        <% end %>
      
      </fieldset>

      <fieldset class="field step">
        <%= form.label(:land_use, class: "label")%>
        <p class="help">  What types of land use are visible from the sampling site? </p>
        <% [['Pasture','pasture'],['Agriculture','agriculture'],['Town','town'],['Industry','industry'], ['Forest','forest'], ['Grassland/shrub','grassland_shrub'],['Other (please specify)', 'other']].each do | w | %>
          <%= form.check_box :land_use, { multiple: true, class: "checkbox is-multiple step" }, w[1], nil %> <%= form.label "land_use_#{w[1]}", w[0] %> <br />
        <% end %>
        <p class="help">Other land use</p>
        <%= form.text_field :land_use_other, class:" input" %>
      </fieldset>

      <fieldset class="field step">
        <%= form.label(:flow_regime_choice, "Flow Regime" ,class: "label")%>
        <p class="help">What flow regimes can you identify? Choose all that you can see (<a class="js-modal-trigger" data-target="modal-flow-regime">more info</a>)</p>
        <% [['Pool','pool'],['Ripples','ripples'],['Waterfalls','waterfalls'],['Rapids','rapids'],['Cascade','cascade'],['Other (please specify)', 'other']].each do | w | %>
          <%= form.check_box :flow_regime_choice, { multiple: true, class: "checkbox is-multiple step" }, w[1], nil %> <%= form.label "flow_regime_choice_#{w[1]}", w[0] %> <br />
        <% end %>
        <p class="help">Other Flow regime</p>
        <%= form.text_field :flow_regime, class:" input" %>
      </fieldset>
     
      <fieldset class="field step">
        <%= form.label(:water_color, class: "label")%>
        <p class="help"> What is the color of the river water? </p>

        <%= form.select :water_color,  [['Clear','clear'],['Murky or cloudy','murky'],['Muddy or sediment-laden','muddy'],['Other (please specify)', 'other']], { :prompt => "Select one"},{class: "select step"} %>
        <p class="help">Other colour</p>
        <%= form.text_field :water_color_other, class:" input" %>
      </fieldset>


      <fieldset class="field step">
        <%= form.label(:flow, "Water flow", class: "label")%>
        <p class="help"> Please estimate the water flow </p>
        <%= form.select :flow,  [['Still: with no flow','still'],['Slow: slower than walking (<5 km/h)','slow'],['Steady: around walking speed','steady'],['Surging: faster than walking (>5 km/h)', 'surging']], { :prompt => "Select one"},{class: "select step"} %>
      </fieldset>


      <fieldset class="field step">
        <%= form.label(:turbulence,  class: "label")%>
        <p class="help">  Is the river water calm or turbulent? </p>
        <%= form.radio_button :turbulence, 'calm', class: "radio step" %> <%= form.label :turbulence_calm, "Calm" %> <br />
        <%= form.radio_button :turbulence, 'moderate', class: "radio step" %> <%= form.label :turbulence_moderate, "Moderately turbulent" %><br />
        <%= form.radio_button :turbulence, 'high', class: "radio step" %> <%= form.label :turbulence_high, "Highly turbulent" %>
    

      </fieldset>
     


      <fieldset class="field">
        <% if survey.new_record? %>
          <%= form.label(:images, "Upload photos", class: "label") %>
         

        <% else %>
          <%= form.label(:images, "Upload photos", class: "label") %>
          
          <% if survey.images.attached? %>
              <% survey.images.each do | image |  %>
                <%= link_to image_tag(image.representation(resize_to_limit: [100, 100])), image %>
                <%= link_to "delete", destroy_image_path(id: survey.id, image_id: image.id), class: "button is-danger is-small", style:"vertical-align: text-bottom;" , onclick: "return confirm('Are you sure?');", 'data-turbo': 'false' %>
              <% end %>
            <% end %>
            <br />
        <% end %>
        <p class="help">Please take a photo of the survey area looking downstream. Try to show both river banks in the photo.</p>
        <div class="file has-name is-boxed">
          <label class="file-label">
            <%= form.file_field :images, multiple: true, class:"file-input", accept: "image/*" %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose images
              </span>
            </span>
            <span class="file-name" style="height: auto;">
              
            </span>
          </label>
        </div>

       
      </fieldset>

     


    <% elsif  survey.subtype == "biological" %> 

      <!-- BIOLOGICAL --->

      <fieldset class="field step">
        <%= form.label(:riparian_description, "Bank description", class: "label")%>
        <p class="help"> Please briefly describe the bank and its vegetation. What proportion of the river is shaded?</p>
        <%= form.text_area :riparian_description, class:"textarea step", placeholder: "E.g. trees, shrubs, reeds" %>
      </fieldset>

      <fieldset class="field step">
        <%= form.label(:aquatic_life, "Aquatic Life", class: "label")%>
        <p class="help">What aquatic life is there evidence of?</p>
      
        <% [['Plants below surface','plants_below'],['Plants emerging from water','plants_emerging'], [ 'Floating plants','plants_floating'], ['Fish','fish'], ['Flying insects','flying_insects'], ['Other (please specify', 'other'] ].each do | w | %>
          <%= form.check_box :aquatic_life, { multiple: true, class: "checkbox is-multiple step" }, w[1], nil %> <%= form.label "aquatic_life_#{w[1]}", w[0] %> <br />
        <% end %>
        <p class="help">Other aquatic life seen</p>
        <%= form.text_field :aquatic_life_other, class:" input" %>
      </fieldset>

      <fieldset class="field step">
        <%= form.label(:substrates, "Substrates", class: "label")%>
        <p class="help">Which types of substrates/habitats can you identify in your sampling area?</p>
        <%  substrate_array =  [ ['Large boulders','large_boulders'], ['Stones','stones'], ['Pebbles and gravel','pebbles_gravel'], ['Sand','sand'],['Clay','clay'],['Fine organic matter','fine_organic_matter'],['Coarse organic matter','coarse_organic_matter'],['Submerged plants','submerged_plants'],['Algae covered stones','algae_covered_stones'] ]
        
        substrate_array.each do | w | %>
          <%= form.check_box :substrates, { multiple: true, class: "checkbox is-multiple step" }, w[1], nil %> <%= form.label "substrates_#{w[1]}", w[0] %> <br />
        <% end %>
        <p class="help">In case one of the above substrates covers more than 75% of the observed area, please indicate which one.</p>
        <%= form.select :main_substrate,  substrate_array.unshift(['None','none']), { :prompt => "Select one"},{class: "select"} %>
      </fieldset>

      <fieldset class="field step">
        <%= form.label(:macroinvertebrates, class: "label")%>
        <p class="help ">What macroinvertebrates were found with a count. Images are optional. </p>

        <% if !survey.new_record? %>
        <div class="">
          Images
        <% survey.macroinvertebrates.each do | animal |  %>
              <% if animal.animal_images.attached? %>
             
              <div class="box">
                <%= animal.name %>
                <% animal.animal_images.each do | image | %>  
                    <%= link_to image_tag(image.representation(resize_to_limit: [100, 100])), image %>
                    <%= link_to "delete", destroy_animal_image_path(id: survey.id, image_id: image.id,  animal_id: animal.id), class: "button is-danger is-small",  style: "vertical-align: text-bottom;", onclick: "return confirm('Are you sure?');", 'data-turbo': 'false' %>
                <% end %>
              </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="containing-them">
          <div class="macro-fields block control">
            <%= form.fields_for :macroinvertebrates do |macro_form| %>
              <div class="field is-grouped is-horizontal">
                <%= macro_form.text_field :name , class: "input mr-2 step", style: "min-width: 150px;", placeholder: "e.g. insect name", id: "survey_macroinvertebrates_attributes_#{macro_form.index}_name", name: "survey[macroinvertebrates_attributes][#{macro_form.index}][name]", list: "species" %>
                
                <%= macro_form.number_field :observed, class: "input",  placeholder: "count",style: "width:5em;", id: "survey_macroinvertebrates_attributes_#{macro_form.index}_observed", name: "survey[macroinvertebrates_attributes][#{macro_form.index}][observed]" %>
                <% if survey.new_record? %>
                  <div class="file ">
                  <label class="file-label">
                    <%= macro_form.file_field :animal_images, multiple: true, class:"file-input", accept: "image/*" %>
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Images
                      </span>
                    </span>
                  </label>
                  </div>
                <% end %>
                <a class="button delete-macro" title="Delete" onclick="deletemacro(this);">
                  <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
                </a>
                <%= macro_form.hidden_field :_destroy, id: "survey_macroinvertebrates_attributes_#{macro_form.index}__destroy", name: "survey[macroinvertebrates_attributes][#{macro_form.index}][_destroy]" %>
              </div>
            <% end %>
          </div>
        </div>
      
        <a type="button" class="button is-link" id="addmacrobutton">Add Another</a>

        <datalist id="species">
          <option value="Cyclopoida">
          <option value="Atyidae">
          <option value="Macrobrachium">
          <option value="Tanytarsini">
          <option value="Orthocladiinae">
          <option value="Ablabesmyia">
          <option value="Clithon pritchardi ">
          <option value="Polypedilum">
          <option value="Cloeon">
          <option value="Notonectidae">            
        </datalist>

      </fieldset>


    <% end %>

    <fieldset class="field step">
      <%= form.label(:comment, "Additional comments", class: "label")%>
      <p class="help">Would you like to note anything that caught your eye?</p>
      <%= form.text_area :comment, class:"textarea step" %>
    </fieldset>
    
    <div class="field">
      <label id="progress-label2" for="progress-bar"></label>
      <progress id="progress-bar2" class="progress is-info" value="2" max="10"></progress>
    </div>  

    <div>
      <% if survey.new_record? %>
        <%= form.submit   class: 'button is-primary', value: 'Save Observations' %>
      <% else %>
        <%= form.submit   class: 'button is-primary', value: 'Update Survey' %>
      <% end %>
    </div>
    <% end %>

<!-- modals for extra help -->



<div id="modal-flow-regime" class="modal">
<div class="modal-background"></div>
<div class="modal-content">
  <div class="box">
    <h4 class=" title is-6">Flow Regime</h4>
    <p class="block">
    In the context of a stream, the flow regime refers to the characteristic behavior and dynamics of water flow within the stream channel. It describes how water moves, interacts with its surroundings, and the patterns it forms. Flow regime is influenced by various factors such as the stream's slope, channel shape, roughness, and discharge. Different flow regimes can be observed, ranging from laminar flow, where water moves smoothly in parallel layers, to turbulent flow, characterized by chaotic motion with eddies and swirls. The flow regime of a stream impacts its ecological health, sediment transport, and channel morphology, and understanding and studying it is crucial for managing water resources and assessing the overall stream ecosystem.
    </p>

  </div>
</div>

<button class="modal-close is-large" aria-label="close"></button>
</div>


