<main>
  
  <section class="section">
    <div class="has-text-centered">
      Choose from either <%= link_to "Chemical" , subtype_survey_path(subtype: "chemical"),  'data-turbo': 'false' %> , <%= link_to "Physical" , subtype_survey_path(subtype: "physical"),  'data-turbo': 'false' %>
          or  <%= link_to "Biological" , subtype_survey_path(subtype: "biological"),  'data-turbo': 'false'  %> to start entering data.
    </div>
  </section>
  <div class="container">
  <div class="columns is-centered">
    <div class="column is-two-thirds">

      <section class="panel choose-panel ">
        <div class="panel-heading choose-panelhead">
          <%= link_to (image_tag "measure.jpg", class: "choose-image" ), subtype_survey_path(subtype: "physical"),  'data-turbo': 'false' %>
        </div>
        <div class="mr-2 ml-2 pb-2">           
          <span class="title is-5">
            <%= link_to "Physical" , subtype_survey_path(subtype: "physical"),  'data-turbo': 'false' %>
          </span>
          <p>Choose this for collecting data about the physical characteristics of the river and its surroundings. <br />
            e.g. Width, depth, man made structures, the flow regime, and examinations of the river bank .</p>
        </div>
      </section>

      <section class="panel choose-panel">
        <div class="panel-heading choose-panelhead">
          <%= link_to (image_tag "kit2.jpg" , class: "choose-image" ), subtype_survey_path(subtype: "chemical"),  'data-turbo': 'false' %>
        </div>
        <div class="mr-2 ml-2 pb-2">           
          <span class="title is-5">
            <%= link_to "Chemical" ,  subtype_survey_path(subtype: "chemical"),  'data-turbo': 'false' %>
          </span>
          <p> Choose this for collecting data about the chemical characteristics of the river, with a focus on the water. pH (Acidity), Nitrogen (nitrates), Phosphorus (phosphates), Conductivity, Temperature <br />
        </div>
      </section>


      <section class="panel choose-panel">
        <div class="panel-heading choose-panelhead">
          <%= link_to (image_tag "stream.jpeg" , class: "choose-image" ),  subtype_survey_path(subtype: "biological"),  'data-turbo': 'false'  %>
          
        </div>
        <div class="mr-2 ml-2 pb-2">           
          <span class="title is-5">
            <%= link_to "Biological" ,  subtype_survey_path(subtype: "biological"),  'data-turbo': 'false'  %>
          
          </span>
          <p>Choose this for contributing observations about the biological characteristics of the river.  <br />
            Describe the riparian vegetation growing on the river banks<br />
            Observations about macroinvertebrats and the living things on the river bed such as algae, moss, leaf litter, submerged plants, dead wood or animals and non livings such as boulders, stones, gravel or clay.</p>
        </div>
      </section>




    </div>
  </div>
</div>

</main>


<div id="modal-onboard" class="modal" data-controller="tips">
  <div class="modal-background"></div>
  <div class="modal-content">
  
    <div class="box">
      <h4 class=" title is-6">Getting Started</h4>
      <div id="tips-container" class="">
        <div class="block">
          <div id="tip-0" class="tip tip-0 is-hidden">
            <p> <span class="icon is-small"><i class="fas fa-clipboard-check"></i></span> Choose physical, biological or chemical. </p>
            <p> <span class="icon is-small"><i class="fas fa-clipboard-check"></i></span> Some questions require a kit or special equipment.</p>
          </div>
          <div id="tip-1" class="tip tip-1 is-hidden">
            <p> <span class="icon is-small"><i class="fas fa-clipboard-check"></i></span> Collect data over a period of time to see how the water quality changes.</p>
            <p> <span class="icon is-small"><i class="fas fa-clipboard-check"></i></span> Be sure to clean and sanitize your equipment after each use.</p>
          </div>
          <div id="tip-2" class="tip tip-2 is-hidden">
            <p> <span class="icon is-small"><i class="fas fa-clipboard-check"></i></span> Any data is better than no data. It's okay if you don't answer everything. </p>
            <p> <span class="icon is-small"><i class="fas fa-clipboard-check"></i></span> Have fun, and thank you for contributing!</p>
          </div>
        </div>
        <div class="level is-mobile">
          <div class="level-left">
            <a  data-action="tips#nextTip" class="button">&nbsp; Next Tip &nbsp;</a>
          </div>
          <div class="level-right">
            <button class="button closemodalbutton is-primary"  data-action="tips#hideTipsTemp"  >Got it</button>
          </div>
        </div>
        <div class="block">
          <a  data-action="tips#hideTips"  class="">Don't show tips in future </a>
        </div>
      </div>
    </div>
  
  </div>
  
  <button class="modal-close is-large" aria-label="close"></button>
  </div>
