<main>
  <section class="section">

  <h2 class="title is-3">All Surveys</h2>
  <table class="table is-hoverable is-fullwidth ">
    <thead>
      <tr>
        <th>Date</th>
        <th>River</th>
        <th>User</th>
        <th>Subtype</th>
        <th>Observations</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @surveys.each do | survey | %>
      <tr>
        <td><%= survey.surveyed_at.to_fs(:short)  if survey.surveyed_at %> </td>
        <td><%= survey.river %></td>
        <td><%= link_to survey.user.username, survey.user %> <span class="score">(<%= current_user.contribution_count %>)</span> </td>
        <td><%= survey.subtype %></td>
        <td><%= survey.observation_count %></td>
        <td><%= link_to "view", survey %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @surveys,  window: 2, left: 1, right: 1 %>
</section>
</main>


  
