<% content_for :head do %>
  <%= stylesheet_link_tag "leaflet", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "leaflet", "data-turbo-track": "reload" %>
<% end %>


<main class="margin">
  <section class="container column is-half  ">
  <h2 class="title is-3"><%= "New #{@survey.subtype.titlecase} Survey" %> </h2>
  
  <%
    num_questions = 0

    case @survey.subtype 
    when "chemical"
      num_questions = 5
    when "physical"
      num_questions = 5 
    when "biological"
      num_questions = 4
    end

    # 4 common questions (time, river, comment, location)
    num_questions = num_questions + 4 
  %>

  <div class="field">
    <label id="progress-label" for="progress-bar"></label>
    <progress id="progress-bar" class="progress is-info" value="2" max="<%= num_questions %>"></progress>
  </div>


    <%= form_with id: "surveyform", model: @survey do | form | %>

      <!-- COMMON FIELDS--->

      <%= form.hidden_field :subtype %>

      <div class="field">
        <%= form.label(:surveyed_at,  class: "label")%>
        <p class="help">When was this taken? (defaults to now)</p>
        <div class="control">
          <%= form.datetime_field :surveyed_at, class:"input" %>
        </div>
      </div>

      <fieldset class="field">
        <%= form.label(:river,  "River", class: "label")%>
        <p class="help">Which river is this survey about?</p>
        <div class="control">
          <%= form.text_field :river, class:"input", :readonly => true%>
        </div>
       
      </fieldset>


      <div class="field">
        <%= form.label(:lonlat,  "Survey Location", class: "label")%> 

        <div class="tabs is-toggle is-toggle-rounded placebuttons">
          <ul>
            <li id="auto-tab" class="is-active" onclick="toggleGeolocation('auto-tab');" ><a>Automatic</a></li>
            <li id="man-tab" class="" onclick="toggleGeolocation('man-tab');"> <a>Click on map</a> </li>
          </ul>
        </div>
        
        <%= form.hidden_field :lonlat %>
        <div id="formmap"></div>
      </div>


      <hr> 
     
      <% if  @survey.subtype == "chemical" %> 

        <!-- CHEMICAL --->
        <div class="field is-grouped is-grouped-multiline ">

        <div class="field">
          <%= form.label(:ph, "Water acidity", class: "label")%>
          <p class="help">(pH level)</p>
          <div class="control">
            <%= form.number_field :ph, class:"input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label(:temperature, "Water temperature", class: "label")%>
          <p class="help">Water temperature (Centrigade?) </p>
          <div class="control">
            <%= form.number_field :temperature, class:"input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label(:conductivity, class: "label")%>
          <p class="help">units? </p>
          <div class="control">
            <%= form.number_field :conductivity, class:"input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label(:nitrogen, class: "label")%>
          <p class="help">units? </p>
          <div class="control">
            <%= form.number_field :nitrogen, class:"input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label(:phosphorus, class: "label")%>
          <p class="help">units? </p>
          <div class="control">
            <%= form.number_field :phosphorus, class:"input" %>
          </div>
        </div>
        </div>

      
      <% elsif  @survey.subtype == "physical" %> 
        <!-- PHYSICAL --->

        <div class="field">
          <%= form.label(:width, "River width (m)", class: "label")%>
          <p class="help"> What is the average width of the river? (Estimate in meters)</p>
          <div class="control">
            <%= form.number_field :width, class:"input" %>
          </div>
          
        </div>

      

        <div class="field">
          <%= form.label(:depth, "River depth (m)", class: "label")%>
          <p class="help"> What is the average depth of the river? (Estimate in meters)</p>
          <div class="control">
            <%= form.number_field :depth, class:"input" %>
          </div>
        
        </div>



        <fieldset class="field">
          <%= form.label(:manmade_structures, class: "label")%>
          <p class="help">Are there any man-made structures present in the river or along its banks within close proximity of the sampling site? If yes, which and how many?</p>
          <%= form.text_area :manmade_structures, class:"textarea", placeholder: "E.g. modified river banks, weirs, dams, bypass channels, wells, water catchments/derivations, livestock, agriculture, towns, litter" %>
        </fieldset>
    
        
      
        <fieldset class="field">
          <%= form.label(:flow_regime, class: "label")%>
          <p class="help">What flow regimes can you identify?</p>
          <%= form.text_area :flow_regime, class:"textarea", placeholder: "E.g. pools, ripples, waterfalls, rapids" %>
        </fieldset>

        <fieldset class="field">
          <%= form.label(:bank_description, class: "label")%>
          <p class="help">Please briefly describe the river bank</p>
          <%= form.text_area :bank_description, class:"textarea", placeholder: "E.g. steep or flat; eroding etc" %>
        </fieldset>



      <% elsif  @survey.subtype == "biological" %> 

        <!-- BIOLOGICAL --->

        <fieldset class="field">
          <%= form.label(:riparian_description, class: "label")%>
          <p class="help"> Please briefly describe the riparian vegetation. What proportion of the river is shaded?</p>
          <%= form.text_area :riparian_description, class:"textarea", placeholder: "E.g. trees, shrubs, reeds" %>
        </fieldset>

        <fieldset class="field">
          <%= form.label(:abiotic_substrate, class: "label")%>
          <p class="help">What type of abiotic substrate can you identify?</p>
          <%= form.text_area :abiotic_substrate, class:"textarea", placeholder:"E.g. Boulders, stones, gravel, clay, cemented bed" %>
        </fieldset>

        <fieldset class="field">
          <%= form.label(:biotic_substrate, class: "label")%>
          <p class="help">What type of biotic substrate can you identify?</p>
          <%= form.text_area :biotic_substrate, class:"textarea", placeholder:"E.g. algae, moss, leaf litter, submerged plants, dead wood" %>
        </fieldset>

        <fieldset class="field">
          <%= form.label(:macroinvertebrates, class: "label")%>
          <p class="help">Add which insects were found and the count (NOTE: Demo functionality)</p>
          <div id="macroitems" class=" block control">
            <div class="field  is-grouped is-horizontal">
              <input class="input mr-2"  id="macrotype_1" type="text" placeholder="e.g. insect name" >   <input style="width:5em;" id="macronum_1"  class="text" type="number" placeholder="count"> 
            </div>
          </div>
        
          <a type="button" class="button is-link" id="addmacrobutton">Add Another Macroinverbrate</a>
          <%= form.hidden_field :macroinvertebrates, class:"textarea" %>
        </fieldset>


      <% end %>

      <fieldset class="field">
        <%= form.label(:comment, "Additional comments", class: "label")%>
        <p class="help">Would you like to note anything that caught your eye?</p>
        <%= form.text_area :comment, class:"textarea" %>
      </fieldset>
      
      <div class="field">
        <label id="progress-label2" for="progress-bar"></label>
        <progress id="progress-bar2" class="progress is-info" value="2" max="<%= num_questions %>"></progress>
      </div>
    

      <div>
        <%= form.submit   class: 'button is-primary', value: 'Save Observations' %>
      </div>
      <% end %>
  </section>
</main>

<script>
  var map = L.map('formmap').setView([-13.8586, -171.7539], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: 'Map Tiles &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  map.attributionControl.setPrefix(false);

  var marker = new L.marker();
  var circle = new L.marker();

  function onLocationFound(e) {
    console.log("of", e)
    var radius = e.accuracy;

    if(map.hasLayer(circle) && map.hasLayer(marker)) {
      map.removeLayer(circle);
      map.removeLayer(marker);
    } 

    var icon = new L.Icon({iconAnchor:L.Icon.Default.prototype.options.iconAnchor,  iconUrl: '<%= image_path("images/marker-icon.png") %>'});
    marker = L.marker(e.latlng, {icon: icon})
    marker.addTo(map);
    circle = L.circle(e.latlng, radius)
    circle.addTo(map);

    var lonlat = "POINT("+e.latlng.lng+ " " + e.latlng.lat+")";
    document.getElementById("survey_lonlat").value = lonlat;

    updateProgress();  // for progress bar
  }

  map.on('locationfound', onLocationFound);
  map.on('locationerror', onLocationError);

  var manualSelectionEnabled = false;
  findLocation(); // call this at the beginning

  // watches for tab button change and sets manual selectionenabled. 
  function toggleGeolocation(tab_id) {
    var tab = document.getElementById(tab_id);

    var tabs = document.querySelectorAll('.tabs li');
    tabs.forEach(function (itab) {
      itab.classList.remove('is-active');
    });

    tab.classList.add('is-active');
    if (tab_id == "man-tab"){ manualSelectionEnabled = true;   } else {  manualSelectionEnabled = false;  }
   
    findLocation();
  }

  function findLocation(){
    map.off('click', onLocationFound);
    if (navigator.geolocation && !manualSelectionEnabled) {
        map.locate({watch: true,  enableHighAccuracy:true, setView: true, maxZoom: 18});
      } else {
       if (manualSelectionEnabled) {
          map.on('click', onLocationFound);
        } else {
          map.off('click', onLocationFound);
        }
    }
  }

  function onLocationError(error) {
    console.log('Geolocation error:', error);
    toggleGeolocation("man-tab");
  }

   

  var progressBar1 = document.getElementById("progress-bar");
  var progressBar2 = document.getElementById("progress-bar2");
  var progressLabel1 = document.getElementById("progress-label");
  var progressLabel2 = document.getElementById("progress-label2");
  var form = document.getElementById("surveyform");
  
  // Function to update the progress bars and labels
  function updateProgress() {
    // Get all form inputs
   
    var inputs = form.querySelectorAll("input, textarea");

    // Count the number of inputs with a value
    var count = 0;
    var totalInputs  = 0;
    inputs.forEach(function(input) {
     if (input.id !== "survey_subtype" && input.id.startsWith("survey_") && input.value !== "" && !input.id.startsWith("macro")){
       count++;
      }
      if (input.id !== "survey_subtype" && input.id.startsWith("survey_")  && !input.id.startsWith("macro")){
        totalInputs++;
      }
    });

    

    // Update the first progress bar and label
    //totalInputs = totalInputs ;  // minus authenticity, submit and subtype 
    progressBar1.value =  count;
    var label = count  + "/" + totalInputs + " Completed";
    progressLabel1.textContent = label;

    progressBar2.value =  count;
    progressLabel2.textContent = label;
  }

  // Call the updateProgress function when the form is loaded
  // document.addEventListener("DOMContentLoaded", function() {
  //   updateProgress();
  // });

  // Call the updateProgress function whenever an input or textarea value changes
  var formInputs = form.querySelectorAll("input, textarea");
  formInputs.forEach(function(input) {
    input.addEventListener("input", function() {
      updateProgress();
    });
  });


  document.addEventListener("DOMContentLoaded", function() {
    updateProgress(); // for progress bar

    <% if @survey.subtype == "biological" %>
      var addInputButton = document.getElementById("addmacrobutton");
      var inputItemsContainer = document.getElementById("macroitems");
      var inputIndex = 0;

      //<input class="input mr-2 "  type="text" placeholder="e.g. insect name" >   <input style="width:5em;" class="text" type="number" placeholder="count">  
      addInputButton.addEventListener("click", function() {


        var characters = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        var randomString = "";
        for (var i = 0; i < 5; i++) {
          randomString += characters.charAt(Math.floor(Math.random() * characters.length));
        }

        var div =  document.createElement("div");
   
        div.setAttribute("class", "field  is-grouped  is-horizontal");

        var inputItem = document.createElement("input");
        inputItem.setAttribute("type", "text");
        inputItem.setAttribute("id", "macrotype_"+randomString);
        inputItem.setAttribute("class", "input mr-2");
        inputItem.setAttribute("placeholder", "e.g. insect name");

        var inputNum = document.createElement("input"); 
        inputNum.setAttribute("type", "number");
        inputItem.setAttribute("id", "macronum_"+randomString);
        inputNum.setAttribute("class", "text");
        inputNum.setAttribute("style", "width:5em;");
        inputNum.setAttribute("placeholder", "count");

        inputIndex++;
        div.append(inputItem,inputNum)
        inputItemsContainer.appendChild(div);
 
      });
    <% end %>
  });
  



</script>
