<% content_for :head do %>
  <%= stylesheet_link_tag "leaflet", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "leaflet", "data-turbo-track": "reload" %>
<% end %>

<main class="margin">
 
  <section class="section">
  <h2 class="title is-3">Survey</h2>
  <% if @survey.user == current_user %>
    <div class="block">
      <%= link_to "Edit Survey", edit_survey_path(@survey), class: "button is-primary", 'data-turbo': 'false' %>
      <%= link_to "Delete", survey_path(@survey), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: "button is-danger" %>

    </div>
  <% end %>

    <div class="block">
      <table class="table is-hoverable is-fullwidth ">
      <tbody>
        <tr><td>Surveyed At</td> <td><%= @survey.surveyed_at.to_fs(:short) if @survey.surveyed_at %></td> </tr>
        <tr><td>User</td> <td><%= link_to @survey.user.username, @survey.user %> <span class="score">(<%= @survey.user.contribution_count %>)</span> </td> </tr>
        <tr><td>River</td> <td><%= @survey.river %></td></tr>
        <tr><td colspan="2">
          <% if @survey.lonlat && @survey.lonlat.coordinates %>
          <% coords = []
          if @survey.lonlat && @survey.lonlat.coordinates
            coords = @survey.lonlat.coordinates.to_a.reverse
          end %>
          <div id="map" data-controller="showmap" data-showmap-icon-value="<%= image_path("images/marker-icon.png") %>" 
          data-showmap-coords-value="<%= coords %>" >

          <% end %>
        </td></tr>
        <tr><td colspan="2"><%= @survey.subtype %></td></tr>

        <% if @survey.subtype == "chemical" %>

        <tr><td> pH</td> <td><%= @survey.ph %> </td> </tr>
        <tr><td> Temperature</td> <td> <%= @survey.temperature %></td> </tr>
        <tr><td> Conductivity</td> <td> <%= @survey.conductivity %></td> </tr>
        <tr><td> Nitrogen </td> <td><%= @survey.nitrogen %></td> </tr>
        <tr><td> Phosphorus</td> <td> <%= @survey.phosphorus %></td> </tr>
              
        <% elsif @survey.subtype == "physical" %>

        <tr><td> Width</td> <td><%= @survey.width %> </td> </tr>
        <tr><td> Depth</td> <td> <%= @survey.depth %></td> </tr>
        <tr><td> Raining? </td> <td> <%= @survey.raining %></td> </tr>
        <tr><td> Water use </td> <td> <%= @survey.water_use %></td> </tr>
        <tr><td> Other water use </td> <td> <%= @survey.water_use_other %></td> </tr>
        <tr><td> Manmade structures</td> <td> <%= @survey.structures %></td> </tr>
        <tr><td> Other Manmade structures</td> <td> <%= @survey.structures_other %></td> </tr>
        
        <tr><td> On the surface</td> <td> <%= @survey.surface %></td> </tr>
        <tr><td> Land use</td> <td> <%= @survey.land_use %></td> </tr>
        <tr><td> Other land use</td> <td> <%= @survey.land_use_other %></td> </tr>
        <tr><td> Flow regime</td> <td> <%= @survey.flow_regime_choice %></td> </tr>
        <tr><td> Other Flow_regime</td> <td> <%= @survey.flow_regime %></td> </tr>
        <tr><td> Water Color</td> <td> <%= @survey.water_color %></td> </tr>
        <tr><td> Other Water Color</td> <td> <%= @survey.water_color_other %></td> </tr>
        <tr><td> Water flow</td> <td> <%= @survey.flow %></td> </tr>
        <tr><td> Turbulence</td> <td> <%= @survey.turbulence %></td> </tr>
       
        <tr><td>Images</td><td>
          <% if @survey.images.attached? %>
            <% @survey.images.each do | image |  %>
              <%= link_to image_tag(image.representation(resize_to_limit: [100, 100])), image %>
            <% end %>
          <% end %>
        </td></tr>
          
        <% elsif @survey.subtype == "biological" %>

        <tr><td> Bank Description </td> <td> <%= @survey.riparian_description %></td> </tr>
        <tr><td> Aquatic Life</td> <td> <%= @survey.aquatic_life %> </td> </tr>
        <tr><td> Other Aquatic Life</td> <td> <%= @survey.aquatic_life_other %></td> </tr>
        <tr><td> Substrates</td> <td> <%= @survey.substrates %> </td> </tr>
        <tr><td> Main Substrate</td> <td> <%= @survey.main_substrate %></td> </tr>
        <tr><td> Macroinvertebrates</td> <td> 
          <ul>
            <% @survey.macroinvertebrates.each do | macro | 
              unless macro.name.blank? &&  macro.observed.blank? %>
                <li><%= macro.name %> : <%= macro.observed %></li>
         <%   end
            end %>
          </ul>
        </td> </tr>
           
        <% end %>

        <tr><td>Comments</td><td><%= @survey.comment %></td></tr>

      </tbody>
    </table>
    
    </div>

  <% if @survey.user == current_user %>
    <div class="block">
      <%= link_to "Edit Survey", edit_survey_path(@survey), class: "button is-primary" %>
      <%= link_to "Delete", survey_path(@survey), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: "button is-danger" %>

    </div>
  <% end %>
 </section>
  
<section class="section">
  <%= link_to "View all Surveys", :surveys %>
</section>

</main>

