<!DOCTYPE html>
<html>
  <head>
    <title>Citizen Science Vaisigano</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>

    <%= yield :head %>
    
  </head>

  <body>
    <nav class="navbar " role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag "citizen logo_no Tree_cropped200px.png", width: 100, height: 100 %>
          Citizen Science Vaisigano
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="burgerToggle(this);">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Start Collecting", choose_path, class: "navbar-item" %>
   
          <a class="navbar-item" href="/help">
            Help
          </a>


        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>    
              <span class="icon-text mr-2 ">
                <a href="<%= user_path(current_user) %>" class="profile-link ">
                  <span class="icon"><i class="fas fa-user"></i> </span>
                  <span><%= current_user.username %> </span><span class="score">(<%= current_user.contribution_count %>)</span> 
                </a>
              </span> 
            <% end %>
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to "Log out", :destroy_user_session, 'data-turbo-method': :delete,  class: "button is-light" %>
              <% else %>
                <%= link_to "Sign up", :new_user_registration, class: "button is-primary" %> 
                <%= link_to "Log in", :new_user_session, class: "button is-light" %> 
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </nav>

    <script>
      //handle burger menu open and close
      function burgerToggle(e){
        const target = e.dataset.target;
        const $target = document.getElementById(target);
    
        e.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      }

      //delete button on flash message
      function closeNotification(e){
        const $notification = e.parentNode;
        $notification.parentNode.removeChild($notification);
      }


    document.addEventListener('turbo:load', () => {
            // Functions to open and close a modal
      function openModal($el) {
        $el.classList.add('is-active');
      }

      function closeModal($el) {
        $el.classList.remove('is-active');
      }

      function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
          closeModal($modal);
        });
      }

      // Add a click event on buttons to open a specific modal
      (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);

        $trigger.addEventListener('click', () => {
          openModal($target);
        });
      });

      // Add a click event on various child elements to close the parent modal
      (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button, .closemodalbutton') || []).forEach(($close) => {
        const $target = $close.closest('.modal');

        $close.addEventListener('click', () => {
          closeModal($target);
        });
      });

      // Add a keyboard event to close all modals
      document.addEventListener('keydown', (event) => {
        const e = event || window.event;

        if (e.keyCode === 27) { // Escape key
          closeAllModals();
        }
      });
    });

  //helper functions from https://www.quirksmode.org/js/cookies.html
  function createCookie(name, value, days) {
    var expires;

    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toGMTString();
    } else {
      expires = "";
    }
    document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/; SameSite=None; Secure";
  }

  function readCookie(name) {
    var nameEQ = encodeURIComponent(name) + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) === ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
    }
    return null;
  }

  function eraseCookie(name) {
    createCookie(name, "", -1);
  }
  </script>
  
  <% if notice || alert %>
    <div class="notification  is-info" data-turbo-cache="false">
      <button class="delete" onclick="closeNotification(this);"></button>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  <%= yield %>



  <footer class="footer ">
    <div class="content">

      <span class="copy">  2023 Citizen Science Vaisigano</span>

      <%= link_to "Start Collecting", choose_path %> 
      
      <a href="/help"> Help </a>
      <a href="/data"> Data / Privacy </a>

    </div>
  </footer>
  </body>
</html>
