<!DOCTYPE html>
<html>
  <head>
    <title>Vait</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>

    <%= yield :head %>
    
  </head>

  <body>
    <nav class="navbar " role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag "citizen logo_no Tree_cropped200px.png", width: 100, height: 100 %>
          Citizen Science Vaisigano
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="burgerToggle(this);">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Start Collecting", choose_path, class: "navbar-item" %>
   
          <a class="navbar-item">
            About & Help
          </a>


        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <span class="mr-2 "> Logged in as: <%= current_user.username %> </span>
            <% end %>
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to "Log out", :destroy_user_session, 'data-turbo-method': :delete,  class: "button is-light" %>
              <% else %>
                <%= link_to "Sign up", :new_user_registration, class: "button is-primary" %> 
                <%= link_to "Log in", :new_user_session, class: "button is-light" %> 
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </nav>

    <script>
      //handle burger menu open and close
      function burgerToggle(e){
        const target = e.dataset.target;
        const $target = document.getElementById(target);
    
        e.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      }

      //delete button on flash message
      function closeNotification(e){
        const $notification = e.parentNode;
        $notification.parentNode.removeChild($notification);
      }
  </script>
  
  <% if notice || alert %>
    <div class="notification  is-info">
      <button class="delete" onclick="closeNotification(this);"></button>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  <%= yield %>



  <footer class="footer ">
    <div class="content">

      <span class="copy">  2023 Citizen Science Vaisigano</span>

      <%= link_to "Start Collecting", choose_path %> 
      
      <a href="#responsive-header"> About  </a>
      <a href="#responsive-header"> Data / Privacy </a>
      <a href="#responsive-header"> Contact  </a>
      <a href="#responsive-header"> Blog </a>

    </div>
  </footer>
  </body>
</html>
